<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Management</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="ellipse">
    <h1>Transaction Management</h1>
  </div>

  <div class="choices">
    <a href="/addApp" class="buttonC">Add Appointment</a>
    <a href="/searchApp" class="buttonC">Search Appointment</a>
    <a href="/editApp" class="buttonC">Edit Appointment</a>
    <a href="/deleteApp" class="buttonC">Delete Appointment</a>  
  </div>
</body>
</html>
