<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Appointment</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
  <div class="ellipse-page">
    <h1>Delete Appointment</h1>
  </div>

  <div class="delete-info">
    <div class="delete-appID">
      <h3>Appointment ID</h3>
      <input type="text" id="delAppID" placeholder="Enter Appointment ID...">
    </div>
    <div class="button-delete">
      <button id="deleteBtn" class="buttonC" role="button">Delete Appointment</button>
      <a href="/" class="buttonC" role="button">Cancel</a>
    </div>

    <div class="breaker"></div>

    <h2>RESULTS:</h2>
    <div id="deleteResults"></div>
  </div>


  <script>
    document.getElementById('deleteBtn').addEventListener('click', async () => {
      const appointmentId = document.getElementById('delAppID').value;
      try {
        const response = await fetch('/deleteAppointment', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ appointmentId })
        });
        if (response.ok) {
          const result = await response.text();
          document.getElementById('deleteResults').textContent = result;
        } else {
          const errorMessage = await response.text();
          document.getElementById('deleteResults').textContent = `Error: ${errorMessage}`;
        }
      } catch (error) {
        console.error('Error deleting appointment:', error);
        document.getElementById('deleteResults').textContent = 'Error deleting appointment. Please try again.';
      }
    });
  </script>
</body>
</html>
