<!-- searchApp.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Appointment</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
  <div class="ellipse-page">
    <h1>Search Appointment</h1>
  </div>

  <div class="search-info">
    <form id="searchForm" action="/searchAppointment" method="POST">
      <div class="search-appID">
        <h3>Appointment ID</h3>
        <input type="text" id="searchAppID" name="appointmentId" placeholder="Enter Appointment ID...">
      </div>
      <div class="button-search">
        <button type="submit" class="buttonC" role="button">Search Appointment</button>
        <a href="/" class="buttonC" role="button">Cancel</a>
      </div>
    </form>

    <div class="breaker"></div>

    <h2>RESULTS:</h2>
    <div id="searchResults"></div>
  </div>

  <!-- JavaScript code here -->

  <script>
    document.getElementById('searchForm').addEventListener('submit', async (event) => {
      event.preventDefault(); // Prevent the default form submission behavior
  
      const appointmentId = document.getElementById('searchAppID').value;
      try {
        const response = await fetch('/searchAppointment', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ appointmentId })
        });
        if (response.ok) {
          const data = await response.json();
          displaySearchResults(data); // Call function to display search results
        } else {
          // Handle the case when the server returns an error
        }
      } catch (error) {
        // Handle errors that occur during the HTTP request
        console.error('Error searching for appointment:', error);
      }
    });
  
    // Function to display search results
    function displaySearchResults(data) {
      const searchResultsDiv = document.getElementById('searchResults');
      searchResultsDiv.innerHTML = ''; // Clear previous results
      if (data.length > 0) {
        const resultList = document.createElement('ul');
        data.forEach(appointment => {
          const listItem = document.createElement('li');
          listItem.textContent = `Appointment ID: ${appointment.appointment_id}, Date: ${appointment.date}, Time: ${appointment.time}`;
          resultList.appendChild(listItem);
        });
        searchResultsDiv.appendChild(resultList);
      } else {
        searchResultsDiv.textContent = 'No results found';
      }
    }
  </script>
  
</body>
</html>
